@model Reddit.ViewModels.Comments.IndexVM
@{
    ViewBag.Title = "CommentsIndex";
}

@section styles
{
    <link href="~/Content/css/home.css" rel="stylesheet" />
    <style>
        .tile-icon a {
            display: block;
        }
    </style>
}
<section class="columns post-group" id="posts">
    @{ Html.RenderPartial("~/Views/Partials/_Post.cshtml", Model.Post); }

    @foreach (var item in Model.Items)
    {
        <div class="tile">
            <div class="tile-icon">
                @{ Html.RenderPartial("~/Views/Partials/_Vote.cshtml", new Reddit.ViewModels.Votes.VoteVM(contentId: item.Id, type: "Comment", rating: item.Rating)); }
            </div>
            <div class="tile-content">
                <p class="tile-title">
                    @item.UserId
                    <span>@(Math.Round((DateTime.Now - item.CreationDate).TotalHours))h ago</span>
                </p>
                <p class="tile-subtitle">@item.Text</p>
            </div>
            <div class="tile-action">
                <a class="btn btn-primary">Reply</a>
                <a data-action="/Comments/Edit" data-id="@item.Id" data-post-id="@item.PostId" data-parent-id="@item.ParentCommentId" class="btn btn-primary edit-btn edit-comment">Edit</a>
                <a class="btn btn-primary">Remove</a>
            </div>
        </div>
    }

    @if (Model.Items.Count() < 1)
    {
        <div style="min-width:100%; color:rgba(170,170,170,0.7)" class="empty">
            <div class="empty-icon">
                <i class="far fa-comment-alt" style="font-size:2rem"></i>
            </div>
            <p class="empty-title h5">No Comments Yet :(</p>
            <p class="empty-subtitle">Be the first to share what you think!</p>
        </div>
    }
</section>
@{ Html.RenderPartial("~/Views/Partials/_SubRedditDetails.cshtml", new Reddit.ViewModels.Posts.IndexVM(Model.Post.SubRedditId)); }
