@model Reddit.ViewModels.Home.PostIndexVM

<div style="width:60%;">
    <p style="display:inline-block;">Rating</p>
    <p style="display:inline-block;">Title</p>
    <p style="display:inline-block;">Comments Count</p>
</div>


@if (Reddit.Models.AuthenticationManager.LoggedUser != null)
{

    foreach (var item in Model.SubReddits)
    {
        foreach (var item2 in Model.Posts.Where(a => a.SubRedditId == item.Id))
        {

            <div style="width:60%;" class="box">
                <article class="media">
                    <div class="media-left"></div>
                    <div class="media-content">
                        <div class="content">
                            <p style="display:inline-block;">@item2.Rating</p>
                            <p style="display:inline-block;  margin-left:30px;" class="title is-5"><a href="/Comments?PostId=@item2.Id">@item2.Title</a></p>
                            <p style="display:inline-block;"><small><a href="/Comments?PostId=@item2.Id">@item2.Comments.Count() Comments</a></small></p>
                        </div>
                    </div>
                </article>
            </div>

        }
    }
}
else
{
    foreach (var item in Model.Posts)
    {
        <div style="width:60%;" class="box">
            <article class="media">
                <div class="media-left"></div>
                <div class="media-content">
                    <div class="content">
                        <p style="display:inline-block;">@item.Rating</p>
                        <p style="display:inline-block;  margin-left:30px;" class="title is-5"><a href="/Comments?PostId=@item.Id">@item.Title</a></p>
                        <p style="display:inline-block;"><small><a href="/Comments?PostId=@item.Id">@item.Comments.Count() Comments</a></small></p>
                    </div>
                </div>
            </article>
        </div>
    }
}




