@model DataAccess.Entities.Post

<article class="card post">
    <div class="card-header">
        <a class="card-title h4 text-dark" href="/Comments?PostId=@Model.Id">
            @Model.Title
        </a>
        <div class="card-subtitle h5">
            <div class="popover popover-bottom">
                <a class="text-gray" href="@Url.Action("Index", "Posts", new { SubRedditId = Model.SubRedditId})">/r/@Model.SubReddit.Name</a>
                <div class="popover-container">
                    <div class="card">
                        <div class="card-header text-center">
                            <figure class="avatar">
                                <img src="~/Content/img/community-avatar.jpg" alt="avatar">
                            </figure>
                            <a href="@Url.Action("Index", "Posts", new { SubRedditId = Model.SubRedditId})">/r/@Model.SubReddit.Name</a>
                        </div>
                        <div class="card-body text-center text-dark">
                            @Model.SubReddit.SubscribedUsers.Count() Members
                        </div>
                        <div class="card-footer text-center">
                            <a href="@Url.Action("Index", "Posts", new { SubRedditId = Model.SubRedditId})" class="btn btn-primary btn-block">
                                View Community
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        @if (Model.PostType == DataAccess.Entities.PostType.ImagePost)
        {
            <div class="card-image">
                <img src="~/Content/img/post_images/@Model.Content.Split('\\').Last()" class="img-responsive content-img" alt="img">
            </div>
        }
        else
        {
            <p class="content-text">@Model.Content</p>
        }
        <div class="popover popover-bottom">
            by<a href="@Url.Action("Index", "Profile", new { UserId = Model.UserId })"> /u/@Model.User.Username</a>
            <div class="popover-container">
                <div class="card">
                    <div class="card-header text-center">
                        <figure class="avatar">
                            <img src="~/Content/img/reddit-avatar.png" alt="avatar">
                            <i class="avatar-presence busy"></i>
                        </figure>
                        /u/@Model.User.Username
                        @(Math.Round((DateTime.Now - Model.User.CreationDate).TotalDays))d ago
                    </div>
                    <div class="card-body text-center">
                        @Model.User.Karma Karma
                    </div>
                    <div class="card-footer text-center">
                        @if (Reddit.Models.AuthManager.LoggedUser != null &&
                            Model.SubReddit.Admins.Where(u => u.AdminToSubReddits.Any(sr => sr.Admins.Any(us => us.Id == Reddit.Models.AuthManager.LoggedUser.Id))).Count() > 0)
                        {
                            <a href="@Url.Action("BanUser", "SubReddit", new { SubRedditId = Model.SubRedditId, UserId = Model.UserId})" class="btn btn-primary btn-block">
                                Ban
                            </a>
                            <a href="@Url.Action("MakeAdmin", "SubReddit", new { SubRedditId = Model.SubRedditId, UserId = Model.UserId})" class="btn btn-primary btn-block">
                                Make Admin
                            </a>
                            <a href="@Url.Action("MuteUser", "SubReddit", new { SubRedditId = Model.SubRedditId, UserId = Model.UserId})" class="btn btn-primary btn-block">
                                Mute
                            </a>
                        }
                    </div>
                </div>
            </div>
        </div>
        <span class="dot">&#183;</span>
        <span>@(Math.Round((DateTime.Now - Model.CreationDate).TotalHours))h ago</span>
    </div>
    <div class="card-footer">
        <div class="post-info float-left d-inline-block">
            @if (Reddit.Models.AuthManager.LoggedUser == null)
            {
                <div class="post-info__votes">
                    <a href="/Home/Login"><i class="fas fa-arrow-up"></i></a>
                    <a href="/Home/Login"><i class="fas fa-arrow-down"></i></a>
                    <span>@Model.Rating</span>
                </div>
            }
            else
            {
                <div class="post-info__votes">
                    @{ Html.RenderPartial("~/Views/Partials/_Vote.cshtml", new Reddit.ViewModels.Votes.VoteVM(contentId: Model.Id, type: "Post", rating: Model.Rating)); }
                </div>
            }
            <div class="post-info__comments">
                <span><a href="/Comments?PostId=@Model.Id" style="text-decoration:none"><i class="fas fa-comment-alt"></i>&nbsp;@Model.Comments.Count()</a></span>
            </div>
            @if (Reddit.Models.AuthManager.LoggedUser != null)
            {
                <div class="post-info__mod-tools">
                    @if (Model.SubReddit.Admins.Where(u => u.AdminToSubReddits.Any(sr => sr.Admins.Any(us => us.Id == Reddit.Models.AuthManager.LoggedUser.Id))).Count() > 0)
                    {
                        { Html.RenderPartial("~/Views/Partials/_ModTools.cshtml", Model); }
                    }
                </div>
            }
        </div>
        <div class="post-share float-right d-inline-block">
            <button class="btn btn-success btn-block">share</button>
        </div>
    </div>
</article>
