@model Reddit.ViewModels.Posts.IndexVM

<aside id="subreddit-aside">
    <div class="panel main-panel">
        <div class="panel-header bg-warning">
            <div class="panel-title">community details</div>
        </div>
        <div class="panel-body">
            <div class="sub-name tile tile-centered">
                <div class="tile-icon">
                    <i class="fas fa-globe text-warning"></i>
                </div>
                <div class="tile-content">
                    <h5>/r/@Model.SubReddit.Name</h5>
                </div>
            </div>
            <div class="members tile tile-centered">
                <div class="tile-content">
                    <p>@Model.SubReddit.SubscribedUsers.Count()</p>
                    <p style="margin-top: -0.25rem;" class="text-gray"><small>members</small></p>
                </div>
            </div>
            <p>@Model.SubReddit.Description</p>
        </div>
        <div class="panel-footer">
            @if (!(Model.SubReddit.SubscribedUsers.Any(m => m.Id == Reddit.Models.AuthManager.LoggedUser.Id)
                && Reddit.Models.AuthManager.LoggedUser.SubscribedToSubReddits.Any(m => m.Id == Model.SubReddit.Id)))
            {
                <a class="btn btn-block btn-primary" href="@Url.Action("Subscribe", "SubReddit", new { Id = Model.SubRedditId })">subscribe</a>
            }
            else
            {
                <a class="btn btn-block" href="@Url.Action("Subscribe", "SubReddit", new { Id = Model.SubRedditId })">unsubscribe</a>
            }
            <a class="btn btn-block btn-primary" href="@Url.Action("Create","Posts")">create post</a>
        </div>
    </div>

    <div class="panel main-panel">
        <div class="panel-header bg-warning">
            <div class="panel-title">/r/@Model.SubReddit.Name rules</div>
        </div>
        <div class="panel-body">
            <p style="margin: 0 0 0.5rem 0">@Model.SubReddit.Rules</p>
        </div>
    </div>

    <div class="panel main-panel">
        <div class="panel-header bg-warning">
            <div class="panel-title">moderators of /r/@Model.SubReddit.Name</div>
        </div>
        <div class="panel-body">
            @foreach (var item in Model.SubReddit.Admins)
            {
                <a class="d-block text-dark" href="/Profile?UserId=@item.Id">/u/@item.Username</a>
            }
        </div>
        <div class="panel-footer">
            <a href="@Url.Action("Create","Posts")">View All Moderators</a>
        </div>
    </div>
</aside>
