@model Reddit.ViewModels.Posts.IndexVM

<aside id="subreddit-aside">
    <div class="panel main-panel">
        <div style="background-color: @(Model.SubReddit.Theme); color: #fff;" class="panel-header">
            <div class="panel-title">community details</div>
        </div>
        <div class="panel-body">
            <div class="sub-name tile tile-centered">
                <div class="tile-icon">
                    <i class="fas fa-globe text-warning"></i>
                </div>
                <div class="tile-content">
                    <h5>/r/@Model.SubReddit.Name</h5>
                </div>
            </div>
            <div class="members tile tile-centered">
                <div class="tile-content">
                    <p>@Model.SubReddit.SubscribedUsers.Count()</p>
                    <p style="margin-top: -0.25rem;" class="text-gray"><small>members</small></p>
                </div>
            </div>
            <p>@Model.SubReddit.Description</p>
        </div>
        <div class="panel-footer">
            @if (!(Model.SubReddit.SubscribedUsers.Any(m => m.Id == Reddit.Models.AuthManager.LoggedUser.Id)
    && Reddit.Models.AuthManager.LoggedUser.SubscribedToSubReddits.Any(m => m.Id == Model.SubReddit.Id)))
            {
                <a class="btn btn-block btn-primary" href="@Url.Action("Subscribe", "SubReddit", new { Id = Model.SubRedditId })">subscribe</a>
            }
            else
            {
                <a class="btn btn-block" href="@Url.Action("Subscribe", "SubReddit", new { Id = Model.SubRedditId })">unsubscribe</a>
            }
            <a class="btn btn-block btn-primary" href="@Url.Action("Create", "Posts")">create post</a>
        </div>
    </div>

    <div class="panel main-panel">
        <div style="background-color: @(Model.SubReddit.Theme); color: #fff;" class="panel-header">
            <div style="margin-top: 2px;" class="panel-title float-left">/r/@Model.SubReddit.Name rules</div>
            @if (Model.SubReddit.Admins.Where(u => u.AdminToSubReddits.Any(sr => sr.Admins.Any(us => us.Id == Reddit.Models.AuthManager.LoggedUser.Id))).Count() > 0)
            {
                <div class="add-rule float-right">
                    <!--<a class="btn btn-block btn-primary" href="@Url.Action("Add", "Rules", new { SubRedditId = Model.SubRedditId })">Add rule</a>-->
                    <a data-sub-id="@Model.SubRedditId" data-action="/Rules/Add" class="btn btn-sm btn-error edit-btn edit-rule">add rule</a>
                </div>
            }
        </div>
        <div class="panel-body">
            @{var count = 1; }
            @foreach (DataAccess.Entities.Rule rule in Model.SubReddit.Rules)
            {
                <p style="margin: 0 0 0.5rem 0">@count. @rule.Text</p>
                count++;
            }
            @if (count == 1)
            {
                <p style="margin: 0 0 0.5rem 0" class="text-error">No rules have been added yet!</p>
            }
        </div>
    </div>

    <div class="panel main-panel">
        <div style="background-color: @(Model.SubReddit.Theme); color: #fff;" class="panel-header">
            <div class="panel-title">moderators of /r/@Model.SubReddit.Name</div>
        </div>
        <div class="panel-body">
            @foreach (var item in Model.SubReddit.Admins)
            {
                <a class="d-block text-dark" href="/Profile?UserId=@item.Id">/u/@item.Username</a>
            }
        </div>
        <div class="panel-footer">
            <a href="@Url.Action("Create","Posts")">View All Moderators</a>
        </div>
    </div>
</aside>
