@model Reddit.ViewModels.Votes.VoteVM

@Html.HiddenFor(m => m.Id)
@Html.HiddenFor(m => m.ContentId)
@if (Reddit.Models.AuthManager.LoggedUser != null)
{ Model.UserId = Reddit.Models.AuthManager.LoggedUser.Id; }
<a href="@Url.Action("Vote", "Votes", new { ContentId = Model.ContentId, UserId = Model.UserId, Value = 1, Type = Model.Type })"><i class='fas fa-arrow-up'></i></a>
<span>@Model.Rating</span>
<a href="@Url.Action("Vote", "Votes", new { ContentId = Model.ContentId, UserId = Model.UserId , Value = -1, Type = Model.Type })"><i class='fas fa-arrow-down'></i></a>