@model Reddit.ViewModels.Posts.EditVM

<div class="modal edit-modal" id="editPost">
    <a href="javascript:void(0)" class="modal-overlay edit-modal-close" aria-label="Close"></a>
    <div class="modal-container">
        <div class="modal-header">
            <a href="javascript:void(0)" class="btn btn-clear float-right edit-modal-close" aria-label="Close"></a>
            <div class="modal-title h5">Edit post</div>
        </div>
        <div class="modal-body">
            <div class="content">
                @using (Ajax.BeginForm("Edit", "Posts", new AjaxOptions
                {
                    HttpMethod = "POST",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "edit-container",
                    OnSuccess = "editErrors"
                }, new { id = "edit-post-form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    { Model.UserId = Reddit.Models.AuthManager.LoggedUser.Id; }
                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.SubRedditId)
                    @Html.HiddenFor(Model => Model.PostTypeId)
                    @Html.HiddenFor(model => model.Rating)
                    <div class="form-group">
                        @Html.LabelFor(model => model.Title, new { @class = "d-inline-block form-label" })
                        @Html.ValidationMessageFor(model => model.Title, null, new { @class = "text-error float-right" })
                        @Html.TextBoxFor(model => model.Title, new { @class = "form-input", placeholder = "Title" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Content, new { @class = "d-inline-block form-label" })
                        @Html.ValidationMessageFor(model => model.Content, null, new { @class = "text-error float-right" })
                        @Html.TextAreaFor(model => model.Content, new { @class = "form-input", placeholder = "Content", rows = "4" })
                    </div>
                }
            </div>
        </div>
        <div class="modal-footer">
            <p class="float-left">Be careful with what you're @(Model.Id > 0 ? "editing" : "posting")!</p>
            <button class="btn btn-primary" form="edit-post-form" type="submit">save</button>
        </div>
    </div>
</div>
