@using DataAccess.Entities
@using Reddit.ViewModels.Home
@using Reddit.Models
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Content/css/site.css" />
    @RenderSection("styles", required: false)
    <!--<link href="~/Content/css/debug.css" rel="stylesheet" />-->
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
</head>
<body>
    <div id="main-container">
        <header id="header-container" class="navbar">
            <section class="navbar-section">
                <a class="brand" href="/Home/Index">
                    <img src="~/Content/img/reddit.png" alt="logo">
                </a>
                <select class="subreddit-dropdown form-select" onchange="javascript:location.href = this.value;" id="mySelect">
                    <option disabled>REDDIT FEEDS</option>
                    <option value="@Url.Action("Index", "Home")">Home</option>
                    <option value="@Url.Action("GetAllSubreddits", "Home")">All</option>
                    @if (AuthManager.LoggedUser != null)
                    {
                        <option disabled>SUBREDDITS</option>
                        foreach (SubReddit subreddit in AuthManager.LoggedUser.SubscribedToSubReddits)
                        {
                            <option value="/Posts?SubRedditId=@subreddit.Id">/r/@subreddit.Name</option>
                        }
                        if (AuthManager.LoggedUser.AdminToSubReddits.Count() > 0)
                        {
                            <option disabled>MODERATING SUBREDDITS</option>
                            foreach (SubReddit sr in AuthManager.LoggedUser.AdminToSubReddits)
                            {
                                <option value="/Posts?SubRedditId=@sr.Id">/r/@sr.Name</option>
                            }
                        }
                        <option disabled>OTHER</option>
                        <option value="@Url.Action("Edit", "Profile", new { Id = AuthManager.LoggedUser.Id})">User Setting</option>
                    }

                </select>
            </section>
            <section class="navbar-center">
                @{Html.RenderPartial("~/Views/Partials/_SearchBar.cshtml", new SearchVM());}
            </section>
            <section class="navbar-section user-section">
                @if (AuthManager.LoggedUser == null)
                {
                    <button id="login" class="btn btn-block">log in</button>
                    <button id="register" class="btn btn-block btn-primary">sign up</button>
                }
                else
                {
                    if (AuthManager.LoggedUser.IsAdmin)
                    {
                        <a class="btn btn-success btn-block" href="/Users/Index">Users Panel</a>
                    }

                    <a class="btn btn-block" href="@Url.Action("Index", "Profile", new { UserId = AuthManager.LoggedUser.Id })">
                        @AuthManager.LoggedUser.Username
                        <span class="label label-secondary">@AuthManager.LoggedUser.Karma</span>
                    </a>
                    <a href="/Home/Logout" class="btn btn-block">log out</a>
                }
            </section>
        </header>
        <main id="content-container" class="container">
            @if (AuthManager.LoggedUser == null)
            {
                <div id="login-container">
                    @{Html.RenderPartial("~/Views/Partials/_Login.cshtml", new LoginVM());}
                </div>
                <div id="register-container">
                    @{Html.RenderPartial("~/Views/Partials/_Register.cshtml", new RegisterVM());}
                </div>
            }
            @RenderBody()
        </main>
        <footer class="footer">
            <p>
                &copy; 2019 mvccrew OOD
            </p>
            <p id="demo"></p>
        </footer>
    </div>
    <script>
        window.onload = function () {
            var selItem = sessionStorage.getItem("SelItem");

            if (!location.href.includes(selItem)) {
                document.getElementsByClassName('subreddit-dropdown')[0].selectedIndex = 1;
                return;
            }

            $('.subreddit-dropdown').val(selItem);
        }
        $('.subreddit-dropdown').change(function () {
            var selVal = $(this).val();
            sessionStorage.setItem("SelItem", selVal);
        });
    </script>
    @if (AuthManager.LoggedUser == null)
    {
        <script src="~/Scripts/authentication-modal.js"></script>
    }
    @RenderSection("scripts", required: false)
</body>
</html>