@using DataAccess.Entities
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
    <link rel="stylesheet" href="~/Content/css/site.css" />
    @RenderSection("styles", required: false)
    <!--<link href="~/Content/css/debug.css" rel="stylesheet" />-->
</head>
<body>
    <div id="main-container">
        <header id="header-container" class="navbar">
            <section class="navbar-section">
                <a class="brand" href="/Home/Index">
                    <img src="~/Content/img/reddit.png" alt="logo">
                </a>
                <select class="subreddit-dropdown form-select">
                    <option disabled>Reddit feeds</option>
                    <option  value="@Url.Action("Index", "Home")">Home</option>
                    <option value="@Url.Action("GetAllSubreddits", "Home")">All</option>
                    @if (Reddit.Models.AuthenticationManager.LoggedUser != null)
                    {
                        <option disabled>Subreddits</option>
                        foreach(SubReddit subreddit in Reddit.Models.AuthenticationManager.LoggedUser.SubscribedToSubReddits)
                        {
                        <option value="@Url.Action("")">@subreddit.Name</option>
                        }
                    }
                </select>
            </section>
            <section class="navbar-center">
                @{Html.RenderPartial("~/Views/Partials/_SearchBar.cshtml", new Reddit.ViewModels.SubReddit.IndexVM());}
            </section>
            <section class="navbar-section user-section">
                @if (Reddit.Models.AuthenticationManager.LoggedUser == null)
                {
                    <a href="/Home/Login" class="btn btn-block">log in</a>

                }
                else
                {
                    if (Reddit.Models.AuthenticationManager.LoggedUser.IsAdmin)
                    {
                        <a class="btn btn-success btn-block" href="/Users/Index">Users Panel</a>
                    }
                    
                        <a class="btn btn-block" href="@Url.Action("Index", "Profile", new { UserId = Reddit.Models.AuthenticationManager.LoggedUser.Id })">profile &nbsp; @Reddit.Models.AuthenticationManager.LoggedUser.Karma Karma</a>
                    <a href="/Home/Logout" class="btn btn-block">log out</a>
                }
                @if (Reddit.Models.AuthenticationManager.LoggedUser == null)
                {
                    <a href="/Home/Register" class="btn btn-block btn-primary">sign up</a>
                }
            </section>
        </header>

        <main id="content-container">
            @RenderBody()

            @if (Reddit.Models.AuthenticationManager.LoggedUser != null)
            {
                <a href="/Posts/Edit">Create Post</a>
                <a href="/SubReddit/Edit"> Create SubReddit</a>
            }
        </main>

        <footer class="footer text-center">
            <p>
                <small>&copy; 2019 mvccrew OOD</small>
            </p>
        </footer>
    </div>
</body>
</html>