@model Reddit.ViewModels.Posts.EditVM
@{
    /**/

    ViewBag.Title = "Create";
}
@section styles {
    <style>


        .tab-pane {
            display: none;
        }

            .tab-pane.active {
                display: block;
            }
    </style>
}
@using (Html.BeginForm("Edit", "Posts", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    { Model.UserId = Reddit.Models.AuthenticationManager.LoggedUser.Id; }
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.SubRedditId)
    <div>@Html.DropDownListFor(model => model.SelectedSubReddit, Model.SubRedditsList, "Choose SubReddit..") @Html.ValidationMessageFor(model => model.SubReddit.Id)</div>

    <ul id="post-tab" class="tab tab-block">
        <li class="tab-item active">
            <a href="#home">Post</a>
        </li>
        <li class="tab-item">
            <a href="#profile">Image&Video</a>
        </li>
        <li class="tab-item">
            <a href="#messages">Link</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="home">
            <form>
                <input id="PostTypeId" name="PostTypeId" type="hidden" value="1" />
                <div class="form-group">
                    @Html.TextBoxFor(m => m.Title, new { @class = "form-input", @placeholder = "Title" })
                </div>
                <div class="form-group">
                    @Html.TextAreaFor(m => m.Content, new { @class = "form-input", @placeholder = "Text (optional)", @rows = "3" })
                </div>
                <p>    <input type="submit" value="Save" /></p>
            </form>
        </div>
        <div class="tab-pane" id="profile">
            <form>
                <input id="PostTypeId" name="PostTypeId" type="hidden" value="2" />
                <div class="form-group">
                    @Html.TextBoxFor(m => m.Title, new { @class = "form-input", @placeholder = "Title" })
                </div>
                <div class="form-group">
                    <input class="form-input" id="input-example-16" type="file">
                </div>
                <p>    <input type="submit" value="Save" /></p>
            </form>
        </div>
        <div class="tab-pane" id="messages">
            <form>
                <input id="PostTypeId" name="PostTypeId" type="hidden" value="3" />
                <div class="form-group">
                    @Html.TextBoxFor(m => m.Title, new { @class = "form-input", @placeholder = "Title" })
                </div>
                <div class="form-group">
                    @Html.TextAreaFor(m => m.Content, new { @class = "form-input", @placeholder = "Url", @rows = "3" })
                </div>
                <p>    <input type="submit" value="Save" /></p>
            </form>
        </div>
    </div>
}

@section scripts {
    <script>
        function onTabClick(event) {
            let activeTabs = document.querySelectorAll('.active');

            // deactivate existing active tab and panel
            activeTabs.forEach(function (tab) {
                tab.className = tab.className.replace('active', '');
            });

            // activate new tab and panel
            event.target.parentElement.className += ' active';
            document.getElementById(event.target.href.split('#')[1]).className += ' active';
        }

        const element = document.getElementById('post-tab');

        element.addEventListener('click', onTabClick, false);
    </script>
}