@model Reddit.ViewModels.Posts.IndexVM

@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <title>Posts</title>
</head>
<body>
    <div>

        <table>
            <tr>
                <td>
                    <h1 style="font-size:26px;">Posts</h1>
                </td>
            </tr>
            <tr>
                  <td>
                     <a class="button is-outlined is-info navbar-item" href="@Url.Action("Subscribe", "SubReddit", new { Id = Model.SubRedditId })">Subscribe</a>
                  </td>
                </tr>
            <tr>
                <td>
                    <br /><hr />@Model.SubReddit.Name <br /><hr />
                    <table>
                        @foreach (var item in Model.Posts)
                        {
                            if (item.SubRedditId == Model.SubRedditId)
                            {
                                <tr style="border: 1px solid black;">
                                    <td>@item.Rating</td>
                                    <td>@{Html.RenderPartial("~/Views/Partials/_Vote.cshtml", new Reddit.ViewModels.Votes.VoteVM(contentId: item.Id, type: "Post"));}</td>
                                    <td><a href="/Comments?PostId=@item.Id">@item.Title</a></td>
                                    <td>@item.Content</td>
                                    <td><a style="text-decoration: none; margin:0 6px" href="@Url.Action("Edit", "Posts", new { Id = item.Id, SubRedditId = Model.SubRedditId })">Edit</a></td>
                                    <td><a style="text-decoration: none; margin:0 6px; color:red" href="@Url.Action("Delete", "Posts", new { Id = item.Id })">Delete</a></td>
                                </tr>
                            }
                        }
                    </table>
                </td>
            </tr>
        </table>
        <div style="float:right;margin-left:20px;">
            <p>Community Details</p>
            <p>/r/@Model.SubReddit.Name</p>
            <p>Subscribers:@Model.SubReddit.SubscribedUsers.Count()</p>
            <p>Theme:@Model.SubReddit.Theme</p>
            <p>Description:@Model.SubReddit.Description</p>
            <p>@Model.SubReddit.Rules</p>
        </div>
    </div>
</body>
</html>


