@model Reddit.ViewModels.Rules.EditVM

@{
    ViewBag.Title = "Add";
}

<div>
    <table style="width:100%">

        <tr>
            <td>
                @using (Html.BeginForm("Add", "Rules", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)

                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.SubRedditId)

                    <fieldset>
                        <table>
                            <tr>
                                <td>@Html.LabelFor(model => model.Text)</td>
                                <td>@Html.TextBoxFor(model => model.Text) @Html.ValidationMessageFor(model => model.Text)</td>
                            </tr>

                            <tr>
                                <td colspan="2"><input type="submit" value="Save" />&nbsp;</td>
                            </tr>
                        </table>
                    </fieldset>
                }
            </td>
        </tr>
    </table>
</div>

