@model Reddit.ViewModels.Profile.IndexVM

@{
    ViewBag.Title = "Profile";
}

@section styles
{
    <link href="~/Content/css/profile.css" rel="stylesheet" />
}

@{ Model.User = Reddit.Models.AuthManager.LoggedUser; }

<section class="columns post-group">
    @foreach (var item in Model.Posts)
    {
        { Html.RenderPartial("~/Views/Partials/_Post.cshtml", item); }
    }
    @*    @foreach (var item in Model.Comments)
        {
            @item.Rating
            <a href="/Comments?PostId=@item.PostId">@item.Text</a>
        } *@
</section>

<aside id="profile-aside">
    <div class="panel main-panel">
        <div class="panel-header"></div>
        <div class="panel-body">

            <h5>u/@Model.User.Username</h5>
            <div class="columns">
                <div class="tile col-4 tile-centered">
                    <div class="tile-content">
                        <p class="tile-title text-dark">Karma</p>
                        <p class="tile-subtitle text-gray"><i class="fas fa-meteor text-primary"></i>@Model.User.Karma</p>
                    </div>

                </div>
                <div class="tile col-6 col-ml-auto tile-centered">
                    <div class="tile-content">
                        <p class="tile-title text-dark">Cake day</p>
                        <p class="tile-subtitle text-gray"><i class="fas fa-birthday-cake text-primary"></i>@(Model.User.CreationDate.ToString("MMMM d, yyyy"))</p>
                    </div>

                </div>
            </div>
        </div>

        <div class="panel-footer">
            <a data-action="/Posts/Create" class="btn btn-primary btn-block edit-btn">create post</a>
            @if (Reddit.Models.AuthManager.LoggedUser.Id == Model.UserId)
            {
                <a data-id="@Model.UserId" data-action="/Profile/Edit" class="btn btn-primary edit-btn btn-block">edit profile</a>
            }
        </div>
    </div>
    <div class="panel secondary-panel">
        <div class="panel-header text-left">
            <div class="panel-title h5">Moderator of</div>
        </div>
        <div class="panel-body">
            @foreach (DataAccess.Entities.SubReddit item in Model.User.AdminToSubReddits)
            {
                <div class="tile tile-centered">
                    <div class="tile-icon">
                        <i class="fas fa-globe text-primary"></i>
                    </div>
                    <div class="tile-content ">
                        <a href="/Posts?SubRedditId=@item.Id" class="tile-title text-dark">/r/@item.Name</a>
                        <p class="tile-subtitle text-gray">@item.SubscribedUsers.Count() members</p>
                    </div>
                    <div class="tile-action">
                        @if (Reddit.Models.AuthManager.LoggedUser != null)
                        {
                            if (item.SubscribedUsers.Any(m => m.Id == Reddit.Models.AuthManager.LoggedUser.Id)
                            && Reddit.Models.AuthManager.LoggedUser.SubscribedToSubReddits.Any(m => m.Id == item.Id))
                            {
                                <a class="btn" href="@Url.Action("Subscribe", "SubReddit", new { Id = item.Id })">unsubscribe</a>

                            }
                            else
                            {
                                <a class="btn btn-primary" href="@Url.Action("Subscribe", "SubReddit", new { Id = item.Id })">subscribe</a>
                            }

                        }
                        else
                        {
                            <a class="btn btn-primary" href="@Url.Action("Subscribe", "SubReddit", new { Id = item.Id })">subscribe</a>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</aside>