@model Reddit.ViewModels.Home.PostIndexVM
@{
    ViewBag.Title = "reddit";
}
@section styles
{
    <link href="~/Content/css/home.css" rel="stylesheet" />
}
<section class="columns post-group" id="frontpage">
    @if (Reddit.Models.AuthManager.LoggedUser != null)
    {

        foreach (var subscribedSubreddit in Model.SubReddits)
        {
            foreach (var post in Model.Posts.Where(p => p.SubRedditId == subscribedSubreddit.Id))
            {
                Html.RenderPartial("~/Views/Partials/_Post.cshtml", post);
            }
        }
    }
    else
    {
        foreach (var post in Model.Posts)
        {
            Html.RenderPartial("~/Views/Partials/_Post.cshtml", post);
        }
    }
</section>

<aside id="frontpage-aside">
    <div class="panel main-panel">
        <div class="panel-header"></div>
        <div class="panel-body">
            @if (Reddit.Models.AuthManager.LoggedUser != null)
            {
                <h5>Home</h5>
                <p>
                    Your personal Reddit frontpage. Come here to check in with your favorite communities.
                </p>
            }
            else
            {
                <h5>/r/all</h5>
                <p>
                    The most active posts from all of Reddit. Come here to see new posts rising and be a part of the conversation.
                </p>
            }
        </div>
        <div class="panel-footer">
            <a class="btn btn-primary btn-block" href="@Url.Action("Create", "Posts")">create post</a>
            <a class="btn btn-primary btn-block" href="@Url.Action("Edit","SubReddit")">create community</a>
        </div>
    </div>
    <div class="panel secondary-panel">
        <div class="panel-header text-left">
            <div class="panel-title h5">Trending communities</div>
        </div>
        <div class="panel-body">
            @foreach (var item in Model.SubReddits.OrderByDescending(a => a.SubscribedUsers.Count()).Take(5))
            {
            <div class="tile tile-centered">
                <div class="tile-icon">
                    <i class="fas fa-globe text-primary"></i>
                </div>
                <div class="tile-content ">
                    <a href="/Posts?SubRedditId=@item.Id" class="tile-title text-dark">/r/@item.Name</a>
                    <p class="tile-subtitle text-gray">@item.SubscribedUsers.Count() members</p>
                </div>
                <div class="tile-action">
                    @if (Reddit.Models.AuthManager.LoggedUser != null)
                    {
                        if (item.SubscribedUsers.Any(m => m.Id == Reddit.Models.AuthManager.LoggedUser.Id)
                        && Reddit.Models.AuthManager.LoggedUser.SubscribedToSubReddits.Any(m => m.Id == item.Id))
                        {
                            <a class="btn" href="@Url.Action("Subscribe", "SubReddit", new { Id = item.Id })">unsubscribe</a>

                        }
                        else
                        {
                            <a class="btn btn-primary" href="@Url.Action("Subscribe", "SubReddit", new { Id = item.Id })">subscribe</a>
                        }

                    }
                    else
                    {
                        <a class="btn btn-primary" href="@Url.Action("Subscribe", "SubReddit", new { Id = item.Id })">subscribe</a>
                    }
                </div>
            </div>
            }
        </div>
        <div class="panel-footer">
            <a class="tile-title text-right" href="@Url.Action("Index","SubReddit")">View all</a>
        </div>
    </div>

</aside>