@model Reddit.ViewModels.Home.LoginVM

@{
    ViewBag.Title = "login";
}

@using (Html.BeginForm("Login", "Home", FormMethod.Post, new { @class = "flex center three" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.ValidationMessage("authenticationFailed", new { style = "color: red;" })
    <div class="full" style="text-align:center;">
        @Html.TextBoxFor(model => model.Username, new { style = "width:400px;", placeholder = "Username" })
        @Html.ValidationMessageFor(model => model.Username, null, new { style = "color: red;" })
    </div>
    <div class="full" style="text-align: center;">
        @Html.PasswordFor(model => model.Password, new { style = "width:400px;", placeholder = "Password" })
        @Html.ValidationMessageFor(model => model.Password, null, new { style = "color: red;" })
    </div>
    <input class="full" type="submit" value="Login" style="width: 400px;" />
}