@model Reddit.ViewModels.Home.SearchVM

@{
    ViewBag.Title = "Search";
}

<section class="columns post-group" id="frontpage" style="display:block">
    <article class="card"style="margin-bottom:30px;">
        <div class="card-image">
        </div>
        <div class="card-header">
            <div class="card-title h5">Communities and users</div>
            <div class="card-subtitle text-gray" style="border-bottom-width:thin; border-bottom-color:rgba(0, 0, 0, 0.1); border-bottom-style:solid">...</div>
        </div>
        <div class="card-body">
            @if (Model.SubReddits.Count() > 0)
            {
                foreach (var item in Model.SubReddits)
                {
                    <div class="panel" id="div-panel">
                        <div class="panel-body" style="background-color:white" id="details">
                            <div class="tile float-left" style="width:27%">
                                <div class="tile-content ">
                                    <div class="tile-title text-bold"> /r/@item.Name</div>
                                </div>
                                <div class="tile-content">
                                    <div class="tile-title text-normal text-gray">@item.SubscribedUsers.Count() Members</div>
                                </div>
                            </div>
                            <div class="tile tile-centered " style="width:55%">
                                <div class="tile-content">
                                    <div class="tile-title text-normal ">@item.Description </div>
                                </div>
                            </div>
                            <div class="tile float-right" style="width:13%">
                                @if (Reddit.Models.AuthManager.LoggedUser != null && item.SubscribedUsers.Any(m => m.Id == Reddit.Models.AuthManager.LoggedUser.Id)
                            && Reddit.Models.AuthManager.LoggedUser.SubscribedToSubReddits.Any(m => m.Id == item.Id))
                                {
                                    <div class="tile-content" style="padding-bottom:10px;margin-top:10px;">
                                        <a class="btn btn-block" href="@Url.Action("Subscribe", "SubReddit", new { Id = item.Id })">Unsubscribe</a>
                                    </div>
                                }
                                else
                                {

                                    <div class="tile-content" style="padding-bottom:10px;margin-top:10px;">
                                        <a class="btn btn-primary btn-block" href="@Url.Action("Subscribe", "SubReddit", new { Id = item.Id })">Subscribe</a>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }
                foreach (var item in Model.Users)
                {
                    <div class="panel" id="div-panel">
                        <div class="panel-body" style="background-color:white" id="details">
                            <div class="tile float-left" style="width:27%">
                                <div class="tile-content ">
                                    <div class="tile-title text-bold"> /u/@item.Username</div>
                                </div>
                                <div class="tile-content">
                                    <div class="tile-title text-normal text-gray">@item.Karma Karma</div>
                                </div>
                            </div>
                            <div class="tile float-right" style="width:13%">
                                    <div class="tile-content" style="padding-bottom:10px;margin-top:10px;">
                                        <a class="btn btn-primary btn-block" href="@Url.Action("Subscribe", "SubReddit", new { Id = item.Id })">Follow</a>
                                    </div>
                                
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <div>Sorry, there were no community results for “@Model.Filter”</div>
            }
        </div>
    </article>

    @foreach (var item in Model.Posts)
    {
        Html.RenderPartial("~/Views/Partials/_Post.cshtml", item);
    }
</section>
<style>
    #details > *
    {
        display:inline-block;

    }
    #div-panel 
    {
        margin-top:10px;
    }
</style>
